@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700);

#slider-3 .btn {
  font-family: 'Montserrat', sans-serif;
}
#msg-box3-e .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-e .mbr-header .mbr-header__subtext {
  text-align: center;
}





#header3-n H3 {
  text-align: left;
}
#header3-n P {
  text-align: left;
}
#msg-box5-1x .mbr-header__text {
  color: #000000;
  font-size: 36px;
  font-family: 'Oswald', sans-serif;
  text-align: center;
}
#msg-box5-1x .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-1x .mbr-article {
  color: #000000;
}
#msg-box5-1x .mbr-article P {
  text-align: center;
}
#msg-box3-z .mbr-header .mbr-header__text {
  text-align: left;
  font-size: 30px;
}
#msg-box3-z .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-z .mbr-article P {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
  text-align: left;
}
#msg-box3-z .mbr-article {
  color: #000000;
}
#msg-box3-v .mbr-header .mbr-header__text {
  text-align: left;
  font-size: 30px;
}
#msg-box3-v .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-v .mbr-article P {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
  text-align: left;
}
#msg-box3-v .mbr-article {
  color: #000000;
}
#msg-box3-10 .mbr-header .mbr-header__text {
  text-align: left;
  font-size: 30px;
}
#msg-box3-10 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-10 .mbr-article P {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
  text-align: left;
}
#msg-box3-10 .mbr-article {
  color: #000000;
}
#msg-box3-1y .mbr-header .mbr-header__text {
  text-align: left;
  font-size: 30px;
}
#msg-box3-1y .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-1y .mbr-article P {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
  text-align: left;
}
#msg-box3-1y .mbr-article {
  color: #000000;
}
#msg-box3-13 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-13 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-13 .mbr-article P {
  text-align: center;
}
#msg-box1-1f .mbr-header .mbr-header__text {
  color: #fff;
}
#msg-box1-1f .mbr-article {
  color: #fff;
}
#msg-box4-18 .mbr-header__text {
  color: #000000;
  text-align: left;
}
#msg-box4-18 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-18 .mbr-article {
  color: #000000;
}
#msg-box4-1e .mbr-header__text {
  color: #000000;
}
#msg-box4-1e .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-1e .mbr-article {
  color: #000000;
}
#msg-box3-1b .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-1b .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box1-1g .mbr-header .mbr-header__text {
  color: #fff;
}
#msg-box1-1g .mbr-article {
  color: #fff;
}
#features1-1k .mbr-section__col .mbr-header__text {
  font-size: 20px;
}
#msg-box3-1j .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-1j .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box1-1l .mbr-header .mbr-header__text {
  color: #fff;
}
#msg-box1-1l .mbr-article {
  color: #fff;
}
#content1-1o P {
  text-align: left;
}
#content1-1o DIV {
  color: #000000;
}
#content1-1r P {
  text-align: left;
}
#content1-1r DIV {
  color: #000000;
}
#content1-1s DIV {
  color: #000000;
}
#content1-1t P {
  text-align: left;
}
#content1-1t DIV {
  color: #000000;
}
#msg-box1-1z .mbr-header .mbr-header__text {
  color: #fff;
}
#msg-box1-1z .mbr-article {
  color: #fff;
}
#content1-20 P {
  text-align: left;
}
#content1-20 DIV {
  color: #000000;
}
#content1-21 P {
  text-align: left;
}
#content1-21 DIV {
  color: #000000;
}
#content1-22 DIV {
  color: #000000;
}
#content1-23 P {
  text-align: left;
}
#content1-23 DIV {
  color: #000000;
}
